/**
 First External CSS Stylesheet
 **/

/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.
*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

    
}
header
{
  background-image: url(background.png);
 
  background-size: cover;
  background-position: center;
  color: #333;
  background:white;
  border-bottom: 1px solid gray;

  padding: 14px 16px;
  margin-bottom: 0px;
  width:100%;
  display:block; 
  
}
.nav-bar
{
  height: 60px;
  
}
h1 {
    height:100%;
    font-size: 22px;
    color: #eee;
    text-align: center;
    background-color: #4aaaa5;
    display: block;
    padding: 20px 18px;
    text-decoration: none;
    margin: 0px 255px;
    
   
  
  }
  h1 {
    float: left;
  }
.menu{
  float: right;
  list-style: none;
  margin: 20px;
  padding-right:170px; 
  font-size: 14px;
}
.menu li {
  display: inline-block;
  list-style-type: none;
  margin: -5px 10px;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.menu li a {
  display: block;
  color: #777777;
  background-color: #ffffff;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  letter-spacing: 2px;
  border-right: 1px solid gray;
  
  
}

.menu li a:hover{
  background: gray;
  transition: .4s;
  color: black;
}


.container {
  position: relative;
  width: 900px;
  margin: 0 auto;
  color: #333;
  top:120px;
  
}
.container h2 {
  font-size: 24px;
  margin: 0px;
  color: #4aaaa5;
  border-bottom: 2px solid gray;
}
#main-bio {
  
   width: 960px;
   height: 350px;
   background-color: white;
   padding: 20px;
   position: fixed;
   top:120px;
  border: .5px solid gray;
 }
 
 p{
  
   display: block;
   color: #777777;
   text-align: left;
   padding: 24px 26px;
   text-decoration: none;
 }
 

body {

  width: 100%;
  height: 80%;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}





#bio-image {
  float: left;
}


#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
h3{
  height:40px;
  font-size: 8px;
  color: #eee;
  text-align: center;
  background-color:gray;
  text-decoration: none;
  width: 100%;
  
  position:fixed;
  bottom: 0px;

    margin: 0px;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 10px solid#4aaaa5;
}
#Contact{
  width: 960px;
  height: 450px;
  background-color: white;
  padding: 30px;
  position: fixed;
  top:120px;
 border: .5px solid gray;
 margin: auto;
}
#Contact input{
  width: 100%;
  height:40px;
  font-size: 12px;
  border: .5px solid gray;
  padding: 15px;

}
#Contact input[type="msg"]{
  width: 100%;
  height:120px;
  font-size: 12px;
  border: .5px solid gray;

}
#Contact input[type="submit"]{
  width: 10%;
  height:40px;
  font-size: 12px;
  border: .5px solid gray;
  background-color: #4aaaa5;
  color: white;
  font-weight: bold;
  

}
p1{
  font-size: 14px; 
  
}